<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查詢系統</title>
</head>
<body>
    <h3>金額查詢</h3>
    <form action="/HowMuch">
        請輸入欲查詢的品項<input type='text' name="dishes"/> 
        <button>查詢金額</button>
    </form>
    
    <h3>訂單查詢</h3>
    <form action="/select">
        請輸入年分<input type='text' name="Y"/>
        請輸入月份<input type='text' name="M"/>
        請輸入日期<input type='text' name="D"/> 
        <button>查詢訂單</button>
    </form>   
</body>
</html>