<!DOCTYPE html>
<html>
    <head>
        {% if headers is defined %}
            {% for name, value in headers.items() %}
                <meta http-equiv="{{ name }}" content="{{ value }}">
            {% endfor %}
        {% endif %}
        <meta http-equiv="Content-Security-Policy-Report-Only" content="script-src https://accounts.google.com/gsi/client; frame-src https://accounts.google.com/gsi/; connect-src https://accounts.google.com/gsi/;">
        <meta name="referrer" content="no-referrer-when-downgrade">
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <meta name="google-site-verification" content="KRs7wPU58D-hvyLA-xILSIK_UhYA72dZ0EFRi8fdLUjs" />
        <meta name="google-signin-client_id" content="210251331567-1c1gja6jtborpgf98btrgffvv1c7lm21.apps.googleusercontent.com">
        <meta charset="utf-8">
        <title>會員系統</title>
    </head>
    <body>
        <h2>會員系統首頁</h2>
        <div>安安</div> 
        <h3>會員註冊</h3>
        <form action="/signup" method="POST">
            <div>匿稱 <input type='text' name='name'/></div>
            <br/>
            <div>信箱 <input type='text' name='email'/></div>
            <br/>
            <div>密碼 <input type='password' name='password'/></div>
            <br/>
            <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
            <button>註冊</button>  
        </form>   
            <div id="g_id_onload"
                 data-client_id="210251331567-1c1gja6jtborpgf98btrgffvv1c7lm21.apps.googleusercontent.com"
                 data-context="signin"
                 data-login_uri="http://localhost"
                 data-itp_support="true">
            </div>
    </body>
</html>