<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel='shortcut icon' href='../static/images/menu.ico' type='image/x-icon'>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/styles/order.css" type="text/css">
    <title>老哥麵店</title>             
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" herf="#"><img src="../static/images/menu.png" class="decorate">&nbsp老哥麵店</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">              
              <li class="nav-item">
                <a class="nav-link" href="#">我要點餐</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('checkorder')}}">目前訂單狀況</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  關於我們
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#"><img src="../static/images/dish.png" class="decorate">&nbsp店家資訊</a></li>
                  <li><a class="dropdown-item" href="https://pse.is/4vwlwk" target="_blank"><img src="../static/images/facebook.png" class="decorate">&nbspFB粉絲團</a></li>
                </ul>
              </li>              
            </ul>            
          </div>
        </div>
      </nav>
    <!-- banner -->
      <div class="banner overflow-hidden d-none d-md-block">
        <img src="../static/images/banner2.jpg" class="w-100 h-100">
      </div>  
    <!-- categorylist -->
    <div class="container mt-3">
      <div class="row">
        <div class="col-12 col-md-2">
          <ul class="list-group position-fixed mx-5">
            {% for items in DishType %}
            <li class="list-group-item"><a href="#" class="category-list-item">{{items.0}}</a></li>
            {% endfor %}
          </ul>
        </div>
    <!-- menu -->        
        <div class="col-12 col-md-10 flex-column mb-3">
          {% for type in DishType %}
          <div class="categorylabel border border-info mb-3 rounded">
            <div class="categorytext">            
              <h4>{{type.0}}</h4>
            </div>  
          </div>       

          <div class="row"> 
            {% for item in menu %}
            {% if item.2 == type.0 %}
            <div class="col-12 col-md-6">            
                            
            <div class="card mb-3">
              <div class="row g-0">              
                <div class="col-md-10">
                  <div class="card-body">                  
                    <p class="card-text">{{item.0}}&nbspNT.&nbsp{{item.1}}</p>                  
                  </div>
                </div>  
                <div class="col-md-2">
                  <div class="card-img mt-1" >                  
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../static/images/add.png" class="decorate"></button>                  
                  </div>                 
                </div>                 
              </div>
            </div>

            </div>
            {% endif %}
            {% endfor %}            
          </div>
          {% endfor %}
        </div>
           
        </div>        
      </div>            
    </div>
    
    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">配料選擇</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputNum" class="form-label">輸入數量</label>
                <input type="email" class="form-control" id="exampleInputNum" aria-describedby="help">
                <div id="help" class="form-text">如有大量需求，請先來電詢問是否有充足備料</div>
              </div>
              <div class="mb-3">
                <div>
                  <label for="exampleInputSoup" class="form-label">乾麵或湯麵</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="nosoup">
                  <label class="form-check-label" for="inlineCheckbox1">乾麵</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="soup">
                  <label class="form-check-label" for="inlineCheckbox2">湯麵</label>
                </div>
              </div>
              <div class="mb-3">
                <div>
                  <label for="exampleInputSoup" class="form-label">需不需要加大</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio11" value="big">
                  <label class="form-check-label" for="inlineCheckbox1">需要</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio12" value="normal">
                  <label class="form-check-label" for="inlineCheckbox2">不需要</label>
                </div>
              </div>                
            </form>            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary rounded-pill">確認</button>
            <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">關閉</button>            
          </div>
        </div>
      </div>
    </div>      
      


    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
  </body>
</html>
