<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel='shortcut icon' href='../static/images/menu.ico' type='image/x-icon'>
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/styles/order.css" type="text/css">
    <title>老哥麵店</title>                 
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" herf="#"><img src="../static/images/menu.png" class="decorate">&nbsp老哥麵店</a>
      </div>
    </nav>
    <!-- banner -->
    <div class="banner overflow-hidden d-none d-md-block">
      <img src="../static/images/banner2.jpg" class="w-100 h-100">
    </div>    
    <!-- raise error -->
    <script>
        window.addEventListener('load', function (){
            alert('此日期查無結果或輸入錯誤，請重新輸入！');
            window.history.back();
        })
    </script>
    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
  </body>
</html>       