<!doctype html>
<html lang="en">
  <head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <link rel='shortcut icon' href='../../static/images/menu.ico' type='image/x-icon'>
    <link rel="stylesheet" href="../../static/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/styles/order.css" type="text/css">
    <title>老哥麵店</title>                 
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" herf="#"><img src="../../static/images/menu.png" class="decorate">&nbsp老哥麵店&nbsp查營收分析頁面</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('modifyMenu', thisAccount=thisAccount , thispwd=thispwd)}}">修改菜單</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('insertMenu', thisAccount=thisAccount , thispwd=thispwd)}}">新增菜單</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">查詢營收和分析</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">登出</a>
            </li>                           
          </ul>            
        </div>
      </div>
    </nav>  
    <!-- banner -->
      <div class="banner overflow-hidden d-none d-md-block">
        <img src="../../static/images/banner2.jpg" class="w-100 h-100">
      </div>
    <!-- qurey -->
    <div class="container mt-3">
      <div class="categorylabel border border-info mb-3 rounded col-md-4 offset-md-4">
        <div class="ordertext">            
          <h4>查看營收和分析</h4>
        </div>  
      </div>
      <div class="col-10 col-md-4 offset-4">
        <form method="POST">
          <div class="mb-3">            
            <input type="text" class="form-control" placeholder="請輸入欲查詢年" id="inputYear" name="year" required>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="請輸入欲查詢月" id="inputMonth" name="month">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="請輸入欲查詢日" id="inputDay" name="day">
          </div>
          <div class="mb-3 offset-5">
            <button type="submit" class="btn btn-primary btn-warning">查詢</button>
          </div>
        </form>
      </div> 
    </div>
    <script>     
    </script>  
    <script src="../../static/scripts/popper.min.js"></script>
    <script src="../../static/scripts/bootstrap.min.js"></script>
  </body>
</html>       